/*------------------------
STYLES/LAYOUT
-------------------------*
/* ------ GLOBAL ------ */

* {
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

body {
    font-family: 'Roboto Mono', Courier, monospace;
    background: rgba(0,0,0,0.87);
    font-size: 16px;
    color: #fff;
    height: 100%;
}

.nav-menu a, form, input[type="text"] {
    color: rgba(0,0,0,0.87);
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.cf::after {
    content: " ";
    display: block;
    clear: both;
}

.fl { float: left; }
.fr { float: right; }

/* used to override JS rule that sets width */
.width100 {
    width: 100% !important;
}

.nr-btn {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 0;
    background: #fff;
    color: rgba(0,0,0,.87);
    border-radius: 0;
    position: relative;
    font-family: 'Roboto Mono', Courier, monospace;
}

.nr-btn[disabled] {
    background-color: lightgray;
    color: gray;
}

.nr-btn[disabled]:hover {
    text-decoration: none;
}

.btn-rnd {
    border-radius: 4px;
}

.sm-btn {
    width: 100px;
    font-size: 16px;
}

.std-btn {
    width: 200px;
}

.nr-success {
    background: #479c47;
    color: #fff;
}

.nr-color {
    background: #F4CF6F;
}

    .nr-btn:hover { text-decoration: underline; }
    /* overwriting unwanted Bootstrap .btn styles*/
    .nr-btn:focus { outline: none !important; }
    .nr-btn:active { box-shadow: none; }

/* ------ NAVBAR ------ */

.nav-wrapper {
    margin: 0 auto;
    width: 90%;
}

.nav-menu {
    background: #F4CF6F;
    color: rgba(0,0,0,0.87);
    position: fixed;
    z-index: 2;
    height: 100%;
    top: 0;
    left: -320px;
    width: 320px;
    display: flex;
    align-items: center;
}

.nr-logo {
    margin: 0 auto;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 21px;
    left: 0;
}

.nr-logo a {
    display: block;
    position: relative;
}

.nr-logo a:hover,
.nr-logo a:focus {
    text-decoration: none;
 }

.nr-logo p::after {
    content: " ";
    position: absolute;;
    top: 65px;
    left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.87);
    width: 130px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 175ms ease-in-out;
    transition: all 175ms ease-in-out;
}

.nr-logo a:hover p::after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

    .nr-logo img {
        width: 60px;
        display: inline-block;
    }

    .nr-logo p {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        left: 7px;
        font-weight: 100;
        letter-spacing: 10px;
        font-size: 22px;
    }

.nav-menu-list {
    font-size: 16px;
    text-align: center;
    max-height: 250px;
    overflow: auto;
}

    .nav-menu-list a {
        display: block;
        padding: 7px 0;
        position: relative;
        transition: 175ms all ease-in-out;
    }

    .nav-menu-list a::before {
        content: "\f30f";
        font-family: 'Ionicons';
        position: absolute;;
        top: 9px;
        left: -100px;
        visibility: hidden;
        -webkit-transition: all 175ms ease-in-out;
        transition: all 175ms ease-in-out;
    }

    .nav-menu-list a:hover::before {
        left: 10px;
        visibility: visible;
    }

.account {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

.account p {
    margin-bottom: 15px;
}

    .left-btn {
        border-right: 1px solid #F4CF6F;
    }

    .right-btn {
        border-left: 1px solid #F4CF6F;
    }

/* ------ MAIN SECTION ----- */

main {
    -webkit-animation: fadein 300ms; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 300ms; /* Firefox < 16 */
        -ms-animation: fadein 300ms; /* Internet Explorer */
         -o-animation: fadein 300ms; /* Opera < 12.1 */
            animation: fadein 300ms;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.js-slide {
    position: fixed;
    font-size: 57px;
    color: #F4CF6F;
    text-align: center;
    z-index: 3;
    bottom: 90px;
    left: 18px;
}

.js-slide p {
    margin-top: -22px;
    font-size: 24px;
}

.js-slide:hover {
    text-decoration: none;
}

/* --- Homepage --- */
.homepage {
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.homepage h1 {
    /*border: 4px solid red;*/
    margin: 25px 0 0 0;
    font-size: 2em;
}

.homepage h2 {
    /*border: 4px solid orange;*/
    margin: 0 0 60px 0;
    font-size: 24px;
}

.homepage .credit {
    margin: 0 0 10px 0;
}

.credit .team{
    /*border: 4px solid yellow;*/
    text-align: center;
}
.credit .copyright{
    /*border: 4px solid green;*/
    align-self: flex-end;
}

/* --- Header --- */
header {
  /*border: 4px solid purple;*/
    /*padding: 0 10px 20px;*/
    text-align: right;
}

header h3 {
    margin-top: 50px;
}

.ind-header h3 {
    margin-top: 21px;
}

.welcome {
    font-size: 3em;
    text-align: center;
}


/* Back button */
.back-btn {
    font-size: 2em;
    float: left;
    padding: 6px;
    height: 68px;
    width: 68px;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: 175ms all ease-in-out;
}

.back-btn-link {
    float: left;
}

.back-btn-link:hover > .back-btn,
.back-btn-link:focus > .back-btn {
    border-color: #F4CF6F;
}

/* Sort menu */
.sort {
    margin-bottom: 21px;
}

.sort form {
    float: right;
}

.sort select {
    /*border: 4px solid red;*/
    width: 230px;
}

/* --- Body --- */
main {
    /*border: 4px solid orange;*/
    /*display: flex;*/
    min-height: 100%;
    position: relative;
}

.main-wrapper {
    /*border: 4px solid green;*/
    margin: 21px auto 0;
    padding: 0 10px;
    position: relative;
    text-align: center;
}

main a {
    color: #fff;
}

main a:hover,
main a:focus {
    color: #F4CF6F;
}

/* --- Body (tiles) --- */
.tile {
    margin: 0 0 30px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
    /*flex-grow: 1;*/
}

.tile a {
    display: block;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    border: 5px solid #fff;
    transition: 175ms all ease-in-out;
}

.tile a:hover {
    color: #F4CF6F;
    border-color: #F4CF6F;
    text-decoration: none;
}

.tile h3 {
    position: relative;
    display: inline-block;
}

.tile h3::after {
    content: "";
    position: relative;
    display: inline-block;
    top: -20px;
    width: 100%;
    visibility: hidden;
    border-bottom: 3px solid #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 175ms ease-in-out;
    transition: 175ms all ease-in-out;
}

.tile a:hover h3::after {
    text-decoration: underline;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-color: #F4CF6F;
}

.tile h3, .tile h4 {
    margin: 0;
}

/* --- Header (individual item) --- */
.ind-header {
    width: 100%;
}

.ind-header .rating {
    white-space: nowrap;
}

/* --- Body (individual item) --- */
.img-list,
.tile-list,
.review {
    display: block;
}

.btn-div {
    margin-bottom: 40px;
    text-align: right;
}

.img-list {
    text-align: right;
    float: right;
    width: 100%;
}

    .img-list button {
        margin-bottom: 40px;
    }

    .img-list ul {
        display: block;
        float: right;
    }

.img-tile {
    margin-bottom: 20px;
    height: 230px;
    width: 230px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-user {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

.img-tile i {
    display: inline-block;
    font-size: 100px;
}

.review {
    padding-bottom: 100px;
    text-align: left;
}

.review .wrapper {
    margin: 0 auto;
    padding: 0 10px;
}


/* ------ NEW REViEW PAGE ----- */
.new-review h3 {
    display: inline-block;
}

.new-review label {
    color: #fff;
    font-weight: 400;
    width: 100%;
}

.new-review form {
    text-align: left;
}

.new-review .customize {
    text-align: left;
}

.customize label {
    margin-bottom: 0;
}

.customize i {
    transform: rotate(45deg);
    display: inline-block;
}

.set-height {
    height: 77px;
}

/*------------------------
MEDIA QUERIES
------------------------*/

@media screen and (min-height: 600px) {

    .nav-menu-list {
        max-height: 400px;
    }

}

@media screen and (min-height: 1000px) {

    .nav-menu-list {
        max-height: 700px;
    }

}

@media screen and (min-width: 480px) {

    html {
        font-size: 100%;
    }

    .nav-menu-list {
        font-size: 20px;
    }

    .tile {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-wrapper {
        /*border: 4px solid green;*/
        padding: 0 20px;
    }

    .review .wrapper {
        padding: 0;
        width: 80%;
    }

    .homepage h1 {
        font-size: 3em;
    }

    .homepage h2 {
        font-size: 30px;
    }

    header h3 {
        margin-top: 20px;
        margin-bottom: 21px;
    }

}

@media screen and (min-width: 768px) {

    .img-list {
        width: auto;
    }

    .review .wrapper {
        width: 90%;
    }

}


@media screen and (min-width: 1000px) {

    .homepage {
        width: 80%;
    }

    .nav-menu-list {
        max-height: none;
    }

    .js-slide {
        display: none;
    }

    main {
        margin-left: 320px;
    }

    .main-wrapper {
        /*border: 4px solid green;*/
        padding: 0 30px;
        max-width: 1720px;
    }

    .

    .ind-body {
        margin: 21 20px 0;
    }


}
