/*------------------------
STYLES/LAYOUT
-------------------------*

/* ------ GLOBAL ------ */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', Courier, monospace;
    background: rgba(0,0,0,0.87);
    font-size: 16px;
    color: #fff;
}

.nav-menu a, form, input[type="text"] {
    color: rgba(0,0,0,0.87);
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.cf::after {
    content: " ";
    display: block;
    clear: both;
}


/* ------ NAVBAR ------ */

.nav-wrapper {
    margin: 0 auto;
    width: 90%;
}

.nav-menu {
    background: #F4CF6F;
    color: rgba(0,0,0,0.87);
    position: fixed;
    height: 100%;
    max-width: 400px;
    width: 25%;
    display: flex;
    align-items: center;
}

.nr-logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 21px;
    left: 0;
}

.nr-logo:hover,
.nr-logo:focus {
    text-decoration: none;
 }

.nr-logo:hover::after {
    content: " ";
    margin: 4px auto 0;
    border-bottom: 2px solid rgba(0,0,0,0.87);
    width: 200px;
}

/*.nr-logo::after {
    content: " ";
    margin: 10px auto 0;
    border-bottom: 2px solid rgba(0,0,0,0.87);
    width: 200px;
}*/

    .nr-logo img {
        width: 60px;
        display: inline-block;
    }

    .nr-logo p {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        left: 7px;
        font-weight: 100;
        letter-spacing: 10px;
        font-size: 22px;
    }

.nav-menu-list {
    font-size: 20px;
    text-align: center;
}

    .nav-menu-list a {
        display: block;
        padding: 7px 0;
    }

    .nav-menu-list a:hover {
        text-decoration: underline;
    }

.account-btns {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.account-btns button {
    float: left;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    background: #fff;
    border-radius: 0;
}

    .account-btns button:hover {
        text-decoration: underline;
    }

    .account-btns button:active {
        outline: 0;
    }

    .login-btn {
        border-right: 1px solid #F4CF6F;
    }

    .signup-btn {
        border-left: 1px solid #F4CF6F;
    }

/* ------ MAIN SECTION ----- */

/* --- Header --- */
header {
  /*border: 4px solid purple;*/
    padding-bottom: 20px;
    text-align: right;
}

.welcome {
    font-size: 3em;
    text-align: center;
}

.back-btn-link {
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 50%;
    float: left;
}

.back-btn {
    font-size: 2em;
    float: left;
    padding: 7px;
    height: 60px;
    width: 60px;
    text-align: center;
}

/* bigger version of back-btn */

/*font-size: 2em;
border-radius: 50%;
float: left;
border: 5px solid white;
padding: 10px;
height: 76px;
width: 76px;
text-align: center;*/

.back-btn-link:hover,
.back-btn-link:focus {
    border-color: #F4CF6F;
}

.sort {
    margin-bottom: 20px;
}

.sort select {
    /*border: 4px solid red;*/
    width: 230px;
    float: right;
}

/* --- Body --- */
main {
    /*border: 4px solid orange;*/
    /*display: flex;*/
    float: right;
    width: 75%;
    align-items: center;
}

.main-wrapper {
    /*border: 4px solid green;*/
    /*display: flex;
    flex-direction: column;*/
    margin: 0 auto;
    padding: 5px 40px;
    position: relative;
    text-align: center;
}

main a {
    color: #fff;
}

main a:hover,
main a:focus {
    color: #F4CF6F;
}

/* --- Body (tiles) --- */
.tile {
    margin: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
    /*flex-grow: 1;*/
}

.tile a {
    display: block;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    border: 5px solid #fff;
}

.tile a:hover {
    color: #F4CF6F;
    border-color: #F4CF6F;
}

.tile h3, .tile h4 {
    margin: 0;
}

.tile .rating {
    float: left;
}

.tile .date {
    float: right;
}

/* --- Header (individual item) --- */
.ind-header {
    width: 30%;
    float: right;
    max-width: 400px;
}

/* --- Body (individual item) --- */
.ind-body {
    margin-top: 21px;
    width: 70%;
    display: inline-block;
    /*text-align: center;*/
    float: left;
}

    .ind-body .content {
        margin-top: 96px;
    }

    .ind-body .review {
        text-align: left;
        font-size: 16px;
    }

.img-list {
    display: inline-block;
}

.img-tile {
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-user {
    width: 150px;
    height: 150px;
}

.img-tile i {
    display: inline-block;
    font-size: 100px;
}

/*------------------------
MEDIA QUERIES
-------------------------*
