/*------------------------
STYLES/LAYOUT
-------------------------*

/* ------ GLOBAL ------ */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', Courier, monospace;
    background: rgba(0,0,0,0.87);
}

form[type="text"] {
    color: rgba(0,0,0,0.87);
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

.cf::after {
    content: " ";
    display: block;
    clear: both;
}


/* ------ NAVBAR ------ */

.nav-wrapper {
    margin: 0 auto;
    width: 90%;
}

.nav-menu {
    background: #F4CF6F;
    color: rgba(0,0,0,0.87);
    position: fixed;
    height: 100%;
    max-width: 400px;
    width: 25%;
    display: flex;
    align-items: center;
}

.nr-logo {
    margin: 0 auto;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    width: 120px;
    margin-left: -60px;
    left: 50%;
}

    .nr-logo img {
        padding: 10px 0;
        width: 80px;
    }

    .nr-logo p {
        font-weight: 100;
        letter-spacing: 10px;
        font-size: 16px;
    }

.nav-menu a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.super-categories {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.super-categories li {
    padding-bottom: 15px;
}


/* ------ MAIN SECTION ----- */

main {
    /*border: 4px solid orange;*/
    /*display: flex;*/
    color: #fff;
    float: right;
    width: 75%;
    align-items: center;
    padding: 30px;
}

.main-wrapper {
    /*border: 4px solid green;*/
    margin: 0 auto;
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-end;
}

main a {
    color: #fff;
}

.welcome {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.sort {
  /*border: 4px solid red;*/
  max-width: 25%;
  float: right;
}

.grid {
  /*border: 4px solid blue;*/
  text-align: center;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
}

.main-header {
  /*border: 4px solid purple;*/
  text-align: right;
}

.tile {
    margin: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
    box-sizing: padding-box;
    /*flex-grow: 1;*/
}

.tile a {
    display: block;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid #fff;
}

.tile a:hover {
    color: #F4CF6F;
    border-color: #F4CF6F;
}

.tile .rating,
.tile .date,
.tile .product,
.tile .reviewer,
.tile .review-count {
    margin: 0;
}

.tile .rating {
    float: left;
}

.tile .date {
    float: right;
}


/*------------------------
MEDIA QUERIES
-------------------------*
