{% extends 'layout.html' %}

{% block nav %}
    <li><a href="/categories">Categories</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/users">Users</a></li>
{% endblock %}

{% block body %}
<h1>Add a new review</h1>
<form class="add_main" action="/product_review" method="POST">
  <input type="checkbox" name="customize_main_cat" value="customize_main_cat">
  <input type="checkbox" name="customize_second_cat" value="customize_second_cat">
  <input type="checkbox" name="customize_product" value="customize_product">
  <input type="checkbox" name="customize_company" value="customize_company">
  <button type="submit">Customize these fields</button>
</form>

<form class="" action="/add_product_review" method="POST">
  {% if customize_main_cat %}
    <input type="text" name="main_cat_name" value="{{main_cat_name}}">
  {% else %}
    <select class="main_cat_name" name="main_cat_name">
      <option value="empty"></option>
      {% for main_name in main_cat_list %}
        <option value="{{main_name.name}}">{{main_name.name}}</option>
      {% endfor %}
    </select>
  {% endif %}
  {% if customize_second_cat %}
    <input type="text" name="second_cat_name" value="{{name}}">
  {% else %}
    <select class="second_cat_name" name="second_cat_name">
      {% for second_name in second_cat_list %}
        <option value="{{second_name.name}}">{{second_name.name}}</option>
      {% endfor %}
    </select>
  {% endif %}

  {% if customize_product %}
    <input type="text" name="product_name" value="{{name}}">
  {% else %}
    <select class="product_name" name="product_name">
      {% for product_name in product_list %}
        <option value="{{product_name.name}}">{{product_name.name}}</option>
      {% endfor %}
    </select>
  {% endif %}

  <select class="rating" name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <input type="text" name="review" value="{{review}}">

  {% if customize_company %}
    <input type="text" name="company_name" value="{{name}}">
  {% else %}
    <select class="company_name" name="company_name">
      {% for company_name in company_list %}
        <option value="{{company_name.name}}">{{company_name.name}}</option>
      {% endfor %}
    </select>
  {% endif %}
  <button type="submit">Add</button>
</form>
  <ul>
      <li>

      </li>
  </ul>
{% endblock %}
