{% extends 'layout.html' %}

{% block nav %}
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
{% endblock %}

{% block body %}
<h1>Add a new review</h1>
<form class="" action="/add_product_review" method="POST">
  <input type="text" name="product_name" value="{{name}}">
  <input type="text" name="rating" value="{{rating}}">
  <input type="text" name="review" value="{{review}}">
  <input type="text" name="company_name" value="{{name}}">
  <button type="submit">Add</button>
</form>
  <ul>
      <li>

      </li>
  </ul>
{% endblock %}
