{% extends 'layout.html' %}

{% block nav %}
  <ul>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users">Users</a></li>
  </ul>
{% endblock %}

{% block header %}
<header>
    <h1><a href="/brands">Brands</a> > Products</h3>
</header>
{% endblock %}

{% block sort %}
    <div class="sort">
        <form action="/brands/{{brand_id}}" method="post">
            <input type="hidden" name="brand_id" value="{{brand_id}}">
            <select class="form-control" name="sortby" onchange="this.form.submit()">
                <option selected value="rating_desc">Rating (high to low)</option>
                {% for choice, choice_name in sort_choices %}
                    <option {% if choice == current_sort %} selected {% endif %} value="{{choice}}">{{choice_name}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
{% endblock %}

{% block body %}
    <ul>
        {% for product in brand_prod_list %}
        <li class="tile">
            <a href="/products/{{product.prod_id}}">
                <h4>{{product.avg_rating}} * average rating</h4>
                <h3 class="product">{{product.prod_name}}</h3>
                <h4>{{product.review_count}} review{% if product.review_count > 1 %}s{% endif %}</h4>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
