{% extends 'layout.html' %}

{% block nav %}
  <ul>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users">Users</a></li>
  </ul>
{% endblock %}

{% block header %}
<header>
    <a class="back-btn-link cf" href="/brands">
        <i class="back-btn ion-arrow-left-a"></i>
    </a>
    <h1><a href="/brands">Brands</a> > Products</h3>
</header>
{% endblock %}

{% block body %}
<ul>
    {% for product in brand_prod_list %}
    <li class="tile">
        <a href="#">
            <h4 class="spacer"></h4>
            <h3 class="product">{{product.prod_name}}</h3>
            <h4 class="spacer"></h4>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
