{% extends 'layout.html' %}

{% block nav %}
<ul>
    {% for category in categories_list %}
    <li>
        <a href="/categories/{{category.id}}">{{category.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block header %}
<header>
    <a class="back-btn-link cf" href="/">
        <i class="back-btn ion-arrow-left-a"></i>
    </a>
    <h1>Categories</h1>
    <h3>Keep clicking those links on the left</h3>
</header>
{% endblock %}

<!-- Main section stays empty on first click; would like to put something here -->
{% block body %}
{% endblock %}
