{% extends 'layout.html' %}

{% block nav %}
<ul>
    {% for category in categories_list %}
    <li>
        <a href="/categories/{{category.id}}">{{category.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block sort %}
    <select class="form-control" name="Sort by">
        <option>Highest rating</option>
        <option>Lowest rating</option>
        <option>Most reviewed</option>
        <option>Least reviewed</option>
        <option>Date released (oldest)</option>
        <option>Date released (newest)</option>
    </select>
{% endblock %}
{% block body %}

{% endblock %}
