<!DOCTYPE html>
{% extends 'layout.html' %}

{% block nav %}
    <li><a href="/categories">Categories</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/users">Users</a></li>
{% endblock %}


{% block homepage %}
    <div class="homepage-main">
        <h1 class="homepage-welcome">Welcome to Nerd Review!</h1>
        <h2 class="homepage-slogan ">Let your nerd flag fly</h2>
        <div class="homepage-credit">
            <p class = "homepage-team">
                a <a href="https://github.com/DigitalCrafts-September-2016-Cohort/team_freedom_nerdreview">team freedom</a> product
            </p>
            <p class="homepage-copyright">Copyright &copy 2016 Nerd Review All Rights Reserved.</p>
        </div>
    </div>
{% endblock %}
