{% extends 'layout.html' %}

{% block nav %}
    {% for category in parent_categories %}
    <li>
        <a href="/categories/{{cat_id}}/{{category.sub_cat_id}}">{{category.cat_name}}</a>
    </li>
    {% endfor %}
{% endblock %}

{% block header %}
<header class="ind-header">
    <div>
        <h1>{{product.name}}</h1>
        <h3>{{product_summary.review_count}} reviews</h3>
        <h1 class="rating">{{product_summary.avg_rating}} / 5 <i class="ion-star"></i></h1>
    </div>
    <ul class="img-list">
    <!-- Include for loop to render images here -->
        <li class="img-tile">
            <i class="ion-image"></i>
        </li>
        <li class="img-tile">
            <i class="ion-image"></i>
        </li>
        <li class="img-tile">
            <i class="ion-image"></i>
        </li>
    <!-- /end for loop -->
    </ul>
</header>
{% endblock %}

{% block body %}
<div class="ind-body">
    <div class="cf">
        <a class="back-btn-link cf" href="/brands/{{company_id}}">
            <i class="back-btn ion-arrow-left-a"></i>
        </a>
    </div>
    <div class="content">
        <ul>
            {% for review in reviews_list %}
            <li class="tile">
                <a href="/reviews/{{review.review_id}}">
                    <h4>Date: {{review.date}}</h4>
                    <h3>Rating: {{review.rating}}</h3>
                    <h4>Reviewer Name: {{review.user_name}}</h4>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
