{% extends 'layout.html' %}

{% block nav %}
<ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/users">Users</a></li>
</ul>
{% endblock %}

{% block header %}
<header class="ind-header cf">
    <a class="back-btn-link js-back cf" href="#0">
        <i class="back-btn ion-arrow-left-a"></i>
    </a>
    <div>
        <h1><a href="/products/{{review.prod_id}}">{{review.prod_name}}</a></h1>
        <h3><a href="/users/{{review.user_id}}">{{review.user_name}}</a></h3>
        <h1 class="rating">{{review.rating}} / 5 <i class="ion-star"></i></h1>
        <h1 class="date">{{review.review_date}}</h1>
    </div>
</header>
{% endblock %}

{% block body %}
<div class="ind-body cf">
    <div class="btn-div">
        <button class="nr-btn std-btn btn-rnd nr-color js-images-btn" href="#">
            <h4>Hide images</h4>
        </button>
    </div>
    <div class="img-list cf">
        <ul class="fr">
            <li class="img-tile">
                <i class="ion-image"></i>
            </li>
            <li class="img-tile">
                <i class="ion-image"></i>
            </li>
            <li class="img-tile">
                <i class="ion-image"></i>
            </li>
        </ul>
    </div>
    <div class="review">
        <div class="wrapper">
            <p>{{review.review}}<p>
        </div>
    </div>
</div>
{% endblock %}
