{% extends 'layout.html' %}

{% block nav %}
    {% for category in parent_categories %}
    <li>
        <a href="/categories/{{cat_id}}/{{category.sub_cat_id}}">{{category.cat_name}}</a>
    </li>
    {% endfor %}
{% endblock %}

{% block header %}
<header class="ind-header">
    <div>
        <h1>{{product.name}}</h1>
        <h3>{{product_summary.review_count}} review{% if product_summary.review_count > 1 %}s{% endif %}</h3>
        <h1 class="rating">{{product_summary.avg_rating}} / 5 <i class="ion-star"></i></h1>
    </div>
    <ul class="img-list">
    <!-- Include for loop to render images here -->
        <li class="img-tile">
            <i class="ion-image"></i>
        </li>
        <li class="img-tile">
            <i class="ion-image"></i>
        </li>
        <li class="img-tile">
            <i class="ion-image"></i>
        </li>
    <!-- /end for loop -->
    </ul>
</header>
{% endblock %}

{% block sort %}
<div class="sort cf">
    <form action="/products/{{product.id}}" method="post">
        <select class="form-control" name="sortby" onchange="this.form.submit()">
            <option selected value="rating_desc">Rating (high to low)</option>
            {% for choice, choice_name in sort_choices %}
                <option {% if choice == current_sort %} selected {% endif %} value="{{choice}}">{{choice_name}}</option>
            {% endfor %}
        </select>
    </form>
</div>
{% endblock %}

{% block body %}
<div class="ind-body">
    <div class="cf">
        <a class="back-btn-link js-back cf" href="#0">
            <i class="back-btn ion-arrow-left-a"></i>
        </a>
    </div>
    <div class="content">
        <ul>
            {% for review in reviews_list %}
            <li class="tile">
                <a href="/reviews/{{review.review_id}}">
                    <h4>{{review.review_date}}</h4>
                    <div>
                        <h3>{{review.rating}} / 5 <i class="ion-star"></i></h3>
                    </div>
                    <h4>{{review.user_name}}</h4>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
