{% extends 'layout.html' %}

{% block nav %}
    <ul>
      {% for category in parent_categories %}
      <li>
          <a href="/categories/{{cat_id}}/{{category.sub_cat_id}}">{{category.cat_name}}</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block body %}
    <h2>Product Name: {{product.name}}</h2>
    <h2>Average Rating: {{product_summary.avg_rating}}</h2>
    <h2>Number of Reviews: {{product_summary.review_count}}</h2>
    <ul>
        {% for review in reviews_list %}
        <li>
            <a href="/reviews/{{review.review_id}}">
                <p>Reviewer Name: {{review.user_name}}</p>
                <p>Product Name: {{review.prod_name}}</p>
                <p>Rating: {{review.rating}}</p>
                <p>Date: {{review.date}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
