<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,700" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <title>Nerd Review</title>
    </head>
    <body>
        <nav class="nav-menu">
            <div class="nav-wrapper">
                <a href="/" class="nr-logo cf">
                    <img src="/static/img/nerd_review_logo.png">
                    <p>NERD<br>REVIEW</p>
                </a>
                {% if loggedin %}
                    <p>
                        Hello, {{session['username']}}!
                    </p>
                    <form class="form" action="/logout" method="post">
                        <div class="form-group">
                            <button class="btn btn-warning" type="submit" action="/logout" name="logout">Log Out</button>
                        </div>
                    </form>
                {% else %}
                {% endif %}
                <ul class="nav-menu-list">
                    {% block nav %}
                    {% endblock %}
                </ul>
                <div class="account-btns">
                    <button type="button" data-toggle="modal" data-target="#log_in_modal" class="btn login-btn">Log In</button>
                    <button type="button" data-toggle="modal" data-target="#signup" class="btn signup-btn">Sign Up</button>
                </div>
            </div>
        </nav>
        <main class="main cf">
            <div class="main-wrapper cf">
                {% block header %}
                {% endblock %}

                {% block sort %}
                {% endblock %}

                {% block body %}
                {% endblock %}
            </div>
        </main>

        <div class="modal" id="log_in_modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color:black;">Log in to Nerd Review:</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" action="/log_in" method="post">
                            <div class="form-group">
                                <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
                                <input type="text" name="username" value="" class="form-control" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password"><span class="glyphicon glyphicon-lock"></span> Password</label>
                                <input type="password" name="password" value="" class="form-control" placeholder="Enter password">
                            </div>
                            <button type="submit" name="button" class="btn btn-default btn-success">Log In</button>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">

                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal" id="signup" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="color:black;">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" action="/sign_up" method="post">
                            <div class="form-group">
                                <label for="name"><span class="glyphicon glyphicon-user"></span> Name</label>
                                <input type="text" name="username" value="" class="form-control" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
                                <input type="text" name="username" value="" class="form-control" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password"><span class="glyphicon glyphicon-lock"></span> Password</label>
                                <input type="password" name="password" value="" class="form-control" placeholder="Enter password">
                            </div>
                            <button type="submit" name="button" class="btn btn-default btn-success">Sign up</button>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" name="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
        </div>

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>
