{% extends 'layout.html' %}

{% block nav %}
<ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/users">Users</a></li>
</ul>
{% endblock %}

{% block header %}
<header>
    <h1>Add a new review</h1>
    <h3>Tell the world what you think</h3>
</header>
{% endblock %}

{% block body %}
<div class="new-review row">
    <div class="inputs container-fluid col-xs-7 col-xs-offset-1">
        <h4>Select a pre-existing category...</h4>
        <form action="/product_review_new" method="POST">
            <div class="form-group">
                <label for="main_cat_name">Main category</label>
                <select id="main_cat_name" class="form-control" name="main_cat_name" onchange="this.form.submit()">
                    <option selected disabled value="none">Select a main category</option>
                    {% for main_cat in main_cat_list %}
                    <option {% if main_cat.name == current_main_cat %} selected {% endif %} value="{{main_cat.name}}">{{main_cat.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="sec_cat_name">Secondary category</label>
                <select id="sec_cat_name" class="sec_cat_name form-control" name="sec_cat_name" onchange="this.form.submit()">
                    <option selected disabled value="none">Select a secondary category</option>
                    {% for secondary_cat in sec_cat_list %}
                        <option {% if secondary_cat.sec_cat_name == current_secondary_cat %} selected {% endif %} value="{{secondary_cat.sec_cat_name}}">{{secondary_cat.sec_cat_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="brand_name">Company/Brand name</label>
                <select id="brand_name" class="brand_name form-control" name="brand_name" onchange="this.form.submit()">
                    <option selected disabled value="none">Select a company</option>
                    {% for brand in brand_list %}
                        <option {% if brand.brand_name == current_brand %} selected {% endif %} value="{{brand.brand_name}}">{{brand.brand_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="product_name">Product name</label>
                <select id="product_name" class="product_name form-control" name="product_name" onchange="this.form.submit()">
                    <option selected disabled value="none">Select a product</option>
                    {% for product in product_list %}
                        <option {% if product.product_name == current_product %} selected {% endif %} value="{{product.product_name}}">{{product.product_name}}</option>
                    {% endfor %}
                </select>
            </div>




            <!-- <div class="form-group">
                <label for="second_cat_name">Secondary category</label>
                {% if customize_second_cat %}
                <input id="second_cat_name" class="form-control" type="text" name="second_cat_name" value="{{name}}">
                {% else %}
                <select id="second_cat_name" class="form-control" class="second_cat_name" name="second_cat_name">
                    <option value=""></option>
                    {% for second_name in second_cat_list %}
                    <option value="{{second_name.name}}">{{second_name.name}}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="company_name">Company name</label>
                {% if customize_company %}
                <input type="text" id="company_name" class="form-control"name="company_name form-control" value="{{name}}">
                {% else %}
                <select class="company_name form-control" name="company_name">
                    <option value=""></option>
                    {% for company_name in company_list %}
                    <option value="{{company_name.name}}">{{company_name.name}}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="product_name">Product name</label>
                {% if customize_product %}
                <input id="product_name" class="form-control" type="text" name="product_name" value="{{name}}">
                {% else %}
                <select id="product_name" class="product_name form-control" name="product_name">
                    <option value=""></option>
                    {% for product_name in product_list %}
                    <option value="{{product_name.name}}">{{product_name.name}}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <select id="rating" class="rating form-control" name="rating">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group set-height">
                <label for="review">Review</label>
                <input id="review" class="form-control" type="text" name="review" value="{{review}}">
            </div> -->
            <button class="nr-btn nr-success std-btn btn-rnd js-submit" type="submit" disabled="true">Submit</button>
        </form>
    </div>
    <!-- <div class="customize col-xs-3">
        <h4>...or add your own</h4>
        <form action="/product_review" method="POST">
            <div class="set-height">
                <label for="customize_main_cat" class="form-check-label">add new</label>
                <input id="customize_main_cat" type="checkbox" name="customize_main_cat">
            </div>
            <div class="set-height">
                <label for="customize_second_cat" class="form-check-label">add new</label>
                <input id="customize_second_cat" type="checkbox" name="customize_second_cat">
            </div>
            <div class="set-height form-group">
                <label for="customize_company" class="form-check-label">add new</label>
                <input id="customize_company" type="checkbox" name="customize_company">
            </div>
            <div class="set-height">
                <label for="customize_product" class="form-check-label">add new</label>
                <input id="customize_product" type="checkbox" name="customize_product">
            </div>
            <button class="nr-btn std-btn btn-rnd" type="submit"><i class="ion-arrow-left-a"></i> Customize these fields</button>
        </form>
    </div> -->
</div>
{% endblock %}
