{% extends 'layout.html' %}

{% block nav %}
    <li><a href="/categories">Categories</a></li>
    <li><a href="/brands">Brands</a></li>
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/users">Users</a></li>
{% endblock %}

{% block header %}
<header>
    <a class="back-btn-link cf" href="/">
        <i class="back-btn ion-arrow-left-a"></i>
    </a>
    <h1>Reviews</h1>
    <h3>Look at all these awesome reviews!</h3>
</header>
{% endblock %}

{% block sort %}
<div class="sort cf">
    <form action="/reviews" method="post">
        <select class="form-control" name="sortby" onchange="this.form.submit()">
            <!-- <option value="default" selected disabled>Sort</option> -->
            {% for choice in sort_choice_list %}
            <option {% if choice == current_sort %} selected {% endif %} value="{{choice}}">{{choice}}</option>
            {% endfor %}
            <!-- <option value="rating_high">Highest rating</option>
            <option value="rating_low">Lowest rating</option> -->
        </select>
    </form>
</div>
{% endblock %}

{% block body %}
<ul>
    {% for review in reviews_list %}
    <li class="tile">
        <a href="/reviews/{{review.id}}">
            <div class="cf">
                <h4 class="rating">{{review.rating}} / 5 <i class="ion-star"></i></h4>
                <h4 class="date">Date: {{review.date}}</h4>
            </div>
            <h3 class="product">{{review.prod_name}}</h3>
            <h4 class="reviewer">By {{review.user_name}}</h4>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
