{% extends 'layout.html' %}

{% block nav %}
    <ul>
      {% for sub_category in sub_categories_list %}
      <li>
          <a href="/categories/{{cat_id}}/{{sub_category.id}}">{{sub_category.name}}</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block sort %}
    <select class="form-control" name="Sort by">
        <option>Highest rating</option>
        <option>Lowest rating</option>
        <option>Alphabetical (by product name)</option>
        <option>MSRP (descending)</option>
        <option>MSRP (ascending)</option>
    </select>
{% endblock %}


{% block body %}
  <h1> SUB CATEGORRRRRIES SUB CAT PRODUCTSSSSS</h1>
  <ul>
    {% for product in sub_categories_products_list %}
    <li>
        <a href="/products/{{product.prod_id}}">
          <p>Product Name: {{product.prod_name}}</p>
          <p>Average Rating: {{product.avg_rating}}</p>
          <p>Review Count: {{product.review_count}}</p>
        </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
