{% extends 'layout.html' %}

{% block nav %}
    <ul>
      {% for sub_category in sub_categories_list %}
      <li>
          <a href="/categories/{{cat_id}}/{{sub_category.id}}">{{sub_category.name}}</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block header %}
<header>
    <h1>Categories > Sub-categories > Products</h1>
    <h3>Here we display products</h3>
</header>
{% endblock %}

{% block sort %}
<div class="sort">
    <select class="form-control" name="Sort by">
        <option>Highest rating</option>
        <option>Lowest rating</option>
        <option>Alphabetical (by product name)</option>
        <option>MSRP (descending)</option>
        <option>MSRP (ascending)</option>
    </select>
</div>
{% endblock %}

{% block body %}
<ul>
    {% for product in sub_categories_products_list %}
    <li class="tile">
        <a href="/products/{{product.prod_id}}">
            <h4>{{product.avg_rating}} * average rating</h4>
            <h3 class="product">{{product.prod_name}}</h3>
            <h4>{{product.review_count}} reviews</h4>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
