{% extends 'layout.html' %}

{% block nav %}
<ul>
    {% for sub_category in categories_list %}
    <li>
        <a href="/categories/{{cat_id}}/{{sub_category.id}}">{{sub_category.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block body %}
    <h1> SUB CATEGORRRRRIES PRODUCTSSSS</h1>
    <ul>
        {% for product in sub_categories_list %}
        <li>
            <a href="">
              <p>Product Name: {{product.prod_name}}</p>
              <p>Average Rating: {{product.avg_rating}}</p>
              <p>Review Count: {{product.review_count}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
