{% extends 'layout.html' %}

{% block nav %}
    {% for sub_category in categories_list %}
    <li>
        <a href="/categories/{{cat_id}}/{{sub_category.id}}">{{sub_category.name}}</a>
    </li>
    {% endfor %}
{% endblock %}

{% block header %}
<header>
    <a class="back-btn-link cf" href="/categories">
        <i class="back-btn ion-arrow-left-a"></i>
    </a>
    <h1>Category > Sub-category</h1>
    <h3>These are some products in this category</h3>
</header>
{% endblock %}

{% block sort %}
<div class="sort cf">
    <form action="/" method="post">
        <input type="hidden" name="brand_id" value="{{brand_id}}">
        <select class="form-control" name="sortby" onchange="this.form.submit()">
            <option selected value="rating_desc">Rating (high to low)</option>
            {% for choice, choice_name in sort_choices %}
                <option {% if choice == current_sort %} selected {% endif %} value="{{choice}}">{{choice_name}}</option>
            {% endfor %}
        </select>
    </form>
</div>
{% endblock %}

{% block body %}
<ul>
    {% for product in sub_categories_list %}
    <li class="tile">
        <a href="/products/{{product.prod_id}}">
            <div class="cf">
                <h4 class="rating">{{product.avg_rating}} / 5 <i class="ion-star"></i></h4>
                <h4 class="date">Date:</h4>
            </div>
            <h3 class="product">{{product.prod_name}}</h3>
            <h4 class="review-count">{{product.review_count}} reviews</h4>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
